{% extends 'base.html' %}

{% block head %} 

{% endblock %}



{% block body  %} 

<h1>File Comparison</h1>

<form method="POST" action="http://127.0.0.1:5000/" enctype="multipart/form-data">
      <input type="file" name="file1" class="mybutton"/>
      <input type="file" name="file2" class="mybutton" />
      <input type="submit" value="Compare" class="myupload"/>
    </form>

{% if (onlyFile1 or onlyFile2 or common) %}

    <h1>Packages only in {{nameOfFile1}} file : {{ onlyFile1 }}</h1>

  <h1>Packages only in {{nameOfFile2}} file : {{ onlyFile2 }}</h1>

    <h1>Common packages in {{nameOfFile1}} and {{nameOfFile2}} files : {{ common }}</h1>
{% endif %}

{% endblock %}